/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.title_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
  padding-top: 4px;
}

table {
  width: 100%;
}

.mat-icon {
  padding: 0;
}
